<!-- <div class="jumbotron">
    <table class = "table">
        <thead class="thead-dark">
            <tr>
                <th scope = "col">Name</th>
                <th scope = "col">Class</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor = 'let fam of familiars'>
                <td hidden>{{fam.id}}</td>
                <td>{{fam.name}}</td>
                <td>{{fam.class}}</td>
<button (click) = "edit()">Edit</button>
                <td><button>Delete</button></td>
            </tr>
        </tbody>
    </table>
</div> -->
<div>
  <div>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search Familiar Name" class="full-width" #input>
</mat-form-field>
<button routerLink="/newfamiliar" mat-flat-button color="primary">Add New</button>
</div>
<table  mat-table [dataSource]="familiars">
  <div></div>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id </th>
    <td mat-cell *matCellDef="let familiar"> {{familiar.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name </th>
    <td mat-cell *matCellDef="let familiar"> {{familiar.name}} </td>
  </ng-container>
  <ng-container matColumnDef="class">
    <th mat-header-cell *matHeaderCellDef>Class </th>
    <td mat-cell *matCellDef="let familiar"> {{familiar.class}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let familiar">
      <button mat-button [routerLink]="['/familiars',familiar.id]" mat-raised-button color="primary">Edit</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>

</div>
<router-outlet></router-outlet>
